<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
	title Kamskie
	link(rel="stylesheet", href="css/main.css")
body
	.wrapper.day
		.logo-wrap
			img(src="img/logo.png", alt="logo")
		.menu-wrap
			.menu-first-string
				.menu-btn
					.menu-span-wrap
						span
						span
						span
					strong меню
				.menu-text прекрасный вид на каму
			.menu-block
				ul
					li
						a(href="#") Выбрать квартиру
					li
						a(href="#") Подбор по параметрам
					li.active
						a(href="#").active Шахматный выбор
					li
						a(href="#") О комплексе
					li
						a(href="#") Ход строительства
					li
						a(href="#") Прайс-лист
					li
						a(href="#") Ипотека
					li
						a(href="#") Документы
					li
						a(href="#") 3D прогулка
					li
						a(href="#") Вопрос-ответ
					li
						a(href="#") Акции/Новости
					li
						a(href="#") Контакты
				.menu-close-btn
		.info-wrap
			.first-info
				.icons-wrap
					span.icon-sun.active 1
					span.icon-moon 2
				.phone-wrap
					span +7 342 204-04-72
					span 204-04-70
			.second-info
				button.info-btn задать вопрос
		.copyright-wrap
		.footer-wrap
script(src="js/libs.min.js")
script(src="js/common.js")
	