@import "app/css/fonts"

$tablet: 'only screen and (max-width: 1024px)'
$mobile: 'only screen and (max-width: 767px)'
$desctop: 'only screen and (max-width: 1440px)'
$landscape: 'only screen and (orientation: landscape) and (max-width: 1024px)'
$mobile-landscape: 'only screen and (orientation: landscape) and (max-width: 767px)'

$large-desc: 'only screen and (max-width: 1650px)'

$accent: #ff0f00
$sub: #1c2444

html, body
	margin: 0
	padding: 0
	max-width: 1920px
	min-width: 1440px
	max-height: 1080px
	min-height: 700px
	margin: 0 auto
	font-family: regular
	font-size: 16px
	line-height: 18px
.wrapper
	width: 100%
	height: 100vh
	max-width: 1920px
	min-width: 1440px
	max-height: 1080px
	min-height: 700px
	margin: 0 auto
	position: relative
	&.day
		background: url(../img/bg-day.jpg) no-repeat center center
		background-size: cover
	&.night
		background: url(../img/bg-night.jpg) no-repeat center center
		background-size: cover
.menu-wrap
	display: inline-block
	position: absolute
	top: 43px
	left: 30px
	&:after
		content: ""
		background: url(../img/street-icon.png) no-repeat
		width: 175px
		height: 89px
		background-size: 100%
		position: absolute
		top: 0
		left: 450px
		transition: .2s
		@media #{$large-desc}
			background-size: 70%
			left: 400px
.menu-btn
	width: 78px
	height: 74px
	background: $accent
	display: flex
	align-content: center
	flex-wrap: wrap
	align-items: center
	text-align: center
	cursor: pointer
	transition: .2s
	&:hover
		background: darken($accent, 10%)
	strong
		width: 100%
		font-family: bold
		color: #fff
		margin-top: 5px
.menu-span-wrap
	width: 100%
	padding: 0 25px
	span
		background: #FFF
		width: 100%
		height: 4px
		display: block
		&:nth-child(2)
			margin: 4px 0
.menu-text
	font-family: tint
	font-size: 24px
	color: #fff
	width: 220px
	margin-left: 55px
	line-height: 30px
	text-transform: uppercase
.menu-block
	position: relative
	height: 0px
	overflow: hidden
	transition: .2s
	&.open
		height: 708px
		@media #{$large-desc}
			height: 476px
	ul
		padding: 0
		margin: 0
		list-style-type: none
		background: $sub
		//width: 325px
		padding: 30px 40px
		@media #{$large-desc}
			padding: 10px 40px
	li
		padding: 18px
		display: block
		margin: 0
		@media #{$large-desc}
			padding: 10px
	a
		font-size: 18px
		color: #fff
		text-decoration: none
		padding: 15px
		border: 4px solid transparent
		box-sizing: border-box
		@media #{$large-desc}
			padding: 8px
		&.active
			border-color: #fff
			color: $accent
			font-family: bold
		&:hover
			border-color: #fff
			color: $accent
.menu-close-btn
	position: absolute
	bottom: 20px
	right: 30px
	content: url(../img/menu-close-btn.png)
	cursor: pointer
.logo-wrap
	position: absolute
	top: 20px
	left: 0
	right: 0
	margin: auto
	width: 327px
.info-wrap
	position: absolute
	top: 0
	right: 0
.first-info
	display: flex
	justify-content: space-between
	align-items: flex-start
.icons-wrap
	padding: 40px 0 0
	display: flex
	justify-content: space-between
	align-items: center
	span
		padding: 0 10px
		opacity: .5
		transition: .2s
		cursor: pointer
		&:first-child
			padding-left: 0
		&:last-child
			padding-right: 0
		&.active, &:hover
			opacity: 1
.icon-sun
	content: url(../img/icon-sun.png)
	width: 27px
	height: 26px
.icon-moon
	content: url(../img/icon-moon.png)
	width: 19px
	height: 20px
.phone-wrap
	color: #fff
	font-size: 30px
	line-height: 36px
	text-align: right
	padding: 40px 50px 0 60px
	span
		display: block
.footer-wrap
	width: 100px
	height: 100px
	background: dimgrey
	position: absolute
	left: 0
	bottom: 0
.menu-first-string
	display: flex
	align-items: center
.second-info
	text-align: right
	margin-right: 50px
	margin-top: 30px
.info-btn
	font-family: light
	font-size: 16px
	color: #fff
	background: none
	border: 3px solid #fff
	text-transform: uppercase
	outline: none
	padding: 12px 22px 10px
	transition: .2s
	width: 190px
	cursor: pointer
	&:hover
		background: #fff
		color: $accent
		border-color: $accent
.third-info
	font-family: bold
	font-size: 20px
	color: #fff
	text-align: right
	line-height: 20px
	margin-top: 80px	
	width: 100px
	margin-left: 260px
	position: relative
	span
		display: block
		margin-top: 40px
		position: relative
		&:before
			position: absolute
			top: -25px
			left: 0
			width: 100px
			height: 10px
			content: ""
			background: #fff
	strong
		position: absolute
		top: 55px
		right: 0
		height: 10px
		content: ""
		background: $accent
		z-index: 1
.copyright-wrap
	//background: fuchsia
	position: absolute
	right: -490px
	top: 540px
	font-size: 8px
	color: #fff
	opacity: .2
	background: red
	transform: rotate(-90deg)
