
$tablet: 'only screen and (max-width: 1024px)'
$mobile: 'only screen and (max-width: 767px)'
$desctop: 'only screen and (max-width: 1440px)'
$landscape: 'only screen and (orientation: landscape) and (max-width: 1024px)'
$mobile-landscape: 'only screen and (orientation: landscape) and (max-width: 767px)'

$accent: #ff0f00

html, body
	margin: 0
	padding: 0
	max-width: 1920px
	min-width: 1440px
	max-height: 1080px
	min-height: 900px
	background: aqua
	margin: 0 auto
.wrapper
	display: flex
	width: 100%
	height: 100vh
	background: gold
	justify-content: space-between
	margin: 0 auto
	position: relative
.menu-wrap
	width: 100px
	height: 100px
	background: azure
	margin: 30px
	display: flex
	justify-content: space-between
	align-items: center
.logo-wrap
	width: 100px
	height: 100px
	background: coral
.info-wrap
	width: 100px
	height: 100px
	background: bisque
.copyright-wrap
	width: 100px
	height: 100px
	background: fuchsia
	position: absolute
	right: 0
	top: 200px
.footer-wrap
	width: 100px
	height: 100px
	background: dimgrey
	position: absolute
	left: 0
	bottom: 0
.menu-btn
	width: 80px
	height: 80px
	background: $accent




